<%- include('partials/header') %>
<link rel="stylesheet" href="C:\Users\Rambo\Desktop\Secrets\public\css\bootstrap-social-gh-pages">

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Pen down</h1>
    <p class="lead">Don't keep your thoughts to yourselves, share them anonymously and release your stress.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
<div class="container">
<h1>Home</h1>
<p> <%= startingContent %> </p>


<%  posts.forEach(function(post){ %>

<h1><%=post.title%></h1>
<p>
<%=post.content.substring(0, 100) + " ..."%>
<a href="/posts/<%=post._id%>">Read More</a>
</p>


<% }) %>
</div>
<%- include('partials/footer') %>
